/* Estilos para a navbar vertical */
.navbar-vertical {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    background-color: #343a40; /* Cor de fundo da navbar */
}

/* Estilos para os ícones */
.nav-link {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.nav-link:hover {
    color: #007bff; /* Cor ao passar o mouse */
}

/* Ajustes para o dropdown */
.dropdown-menu {
    margin-left: -50px; /* Ajuste a posição do dropdown */
}

/* Espaçamento para o conteúdo principal */
.container-fluid {
    padding-left: 80px; /* Ajuste para compensar a navbar vertical */
}


.like-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    transition: color 0.3s ease-in-out;
}

.like-button .bi-heart {
    color: black; /* Cor do coração vazio */
}

.like-button .bi-heart-fill {
    color: red; /* Cor do coração preenchido */
}

.like-button:hover .bi-heart {
    color: red; /* Muda de cor ao passar o mouse */
}

.like-count {
    font-size: 16px;
    color: #555;
}
