{% extends 'app/base.html' %}

{% block content %}
{% load static %}


<!-- Formulário para adicionar post -->
<div class="mt-5" style="max-width: 700px;">
    <h2>Criar Novo Post</h2>
    <form method="post" action="{% url 'create_post' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Conteúdo</label>
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Criar Post</button>
    </form>
</div>


{% endblock %}