{% extends 'app/base.html' %}


{% block content %}
<div class="container">
    {% include 'app/base_um_post.html' %}
    <hr>
    {% for comment in post.comments.all %}

    <div class="card mb-3">
        <div class="card-body">
            <p>{{ comment.content }}</p>
            <small class="text-muted">Comentado por {{ comment.author.username }} em {{ comment.created_at }}</small>
            <br/>

            <!-- Botão de editar comentário (apenas para o autor) -->
            {% if request.user == comment.author %}
            <a href="{% url 'edit_comment' post.id comment.id %}" class="btn btn-warning btn-sm float-end">Editar
                Comentário</a>
            {% endif %}

            <!-- Botão de deletar comentário (apenas para o autor) -->
            {% if request.user == comment.author or request.user.is_staff %}
            <button type="button" class="btn btn-danger btn-sm float-end me-2" data-bs-toggle="modal"
                    data-bs-target="#deleteCommentModal{{ comment.id }}">
                Deletar Comentário
            </button>
            {% endif %}
        </div>
    </div>

    <!-- Modal de confirmação deletar comentário -->
    <div class="modal fade" id="deleteCommentModal{{ comment.id }}" tabindex="-1"
         aria-labelledby="deleteCommentModalLabel{{ comment.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCommentModalLabel{{ comment.id }}">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir este comentário?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'delete_comment' post.id comment.id %}" class="btn btn-danger">Confirmar
                        Exclusão</a>
                </div>
            </div>


        </div>
    </div>
    {% endfor %}
    <!-- Formulário para adicionar comentário -->
    <h4 class="mt-4">Adicionar Comentário</h4>
    <form method="post" action="{% url 'create_comment' post.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" name="content" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Comentário</button>
    </form>


</div>
{% endblock %}