<!doctype html>
<html lang="en">

{% load static %}
        <!--<img src="{% static 'images/crazy_cat.jpg' %}"> -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS and Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <!-- Importando o CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Optional JavaScript -->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js "></script>

    <!-- Title -->
    <title>Talk Spot</title>

     <!-- Ícone do site (favicon) -->
    <link rel="shortcut icon" href="{% static 'images/favicon_talk_spot.ico' %}" type="image/x-icon">
    <!-- Styles -->
    <style>

    </style>
</head>

<body>
    <!-- Menus -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#jumbotron">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="#band">BAND</a></li>
                <li class="nav-item"><a class="nav-link" href="#tour">TOUR</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <!-- Band image -->
    <div id="jumbotron">
        <div class="container text-white text-center">
            <h1 class="display-4">Chicago</h1>
            <p class="lead">Thank you, Chicago - a night we will never forget!</p>
        </div>
    </div>

    <!-- About the band -->
    <section id="band" class="section-white bg-white text-dark">
        <div class="container">
            <h2>THE BAND</h2>
            <p><i>We love music</i></p>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div id="members" class="row">
                <div class="col">
                    <p>Name 1</p>
                    <img src="bandmember.jpg" />
                </div>
                <div class="col">
                    <p>Name 2</p>
                    <img src="bandmember.jpg" />
                </div>
                <div class="col">
                    <p>Name 3</p>
                    <img src="bandmember.jpg" />
                </div>
            </div>
        </div>
    </section>

    <!-- Tour -->
    <section id="tour" class="section-dark bg-dark text-white">
        <div class="container">
            <h2>TOUR DATES</h2>
            <p><i>Remember to book your tickets!</i></p>
            <ul class="list-group">
                <li class="list-group-item disabled">29/Feb - Atlanta</li>
                <li class="list-group-item active">14/Mar - Palm Beach</li>
                <li class="list-group-item">25/Apr - Los Angeles</li>
            </ul>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="section-white bg-white text-dark">
        <div class="container">
            <h2>CONTACT INFO</h2>
            <p><i>Fan? Contact us!</i></p>
            <form id="contact-form">
                <input class="form-control mb-3" type="text" placeholder="Name" />
                <input class="form-control mb-3" type="text" placeholder="Email" />
                <input class="form-control mb-3" type="text" placeholder="Message" />
                <input class="form-control btn btn-primary" type="submit" value="Send" />
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer class="section-dark bg-dark text-white">
        <div class="container">
            <p>&copy; 2024 - The BAND</p>
            <p>Powered by CSS3 and Bootstrap</p>
        </div>
    </footer>
</body>

</html>
